*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    margin-top: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 1.4em;
    color: black;
}
a:hover{
    color: rgb(204, 8, 126);
}
nav{
    width: 100%;
    padding: 8px;
}
.register{
    width: 100%;
    padding: 80px ;
}
h1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
}
.form{
    display: inline-block;
    max-width: 250px;
    padding: 10px ;
    margin-top: 12px;
}
label{
    font-size: 1.3em;
    margin-top: 12px;
    margin-right: 50px;
}
input{
    padding: 12px;
    width: 300px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    margin-top: 8px;
}
.btn{
    font-size: 1.2em;
    margin-top: 12px;
    width: 200px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(7, 162, 43);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: 0;
    color: rgb(242, 239, 234);
}
.btn:hover{
    background-color: rgb(16, 220, 64);
}